In [1]:
import mysql.connector as line
import pandas as pd

In [4]:
conn = line.connect(port='3306',
                        host='127.0.0.1',
                        user ='root',
                        password ='4317',
                        auth_plugin='mysql_native_password',
                        database='winequality')

In [5]:
cursor = conn.cursor()

In [2]:
df1 = pd.read_csv('E:\\Neoron\\Programming_Practice\\Machine_Learning_Project\\wine_quality_prediction\\Data\\winequality.csv')

In [7]:
df1

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [24]:

create_table = '''CREATE TABLE IF NOT EXISTS nani (
    fixed_acidity DOUBLE ,
    volatile_acidity DOUBLE,
    citric_acid DOUBLE,
    residual_sugar DOUBLE,
    chlorides DOUBLE,
    free_sulfur_dioxide DOUBLE,
    total_sulfur_dioxide DOUBLE,
    density DOUBLE,
    pH DOUBLE,
    sulphates DOUBLE,
    alcohol DOUBLE,
    quality INT )'''
cursor.execute(create_table)

In [25]:
import csv
conn = line.connect(port='3306',
                        host='127.0.0.1',
                        user ='root',
                        password ='4317',
                        auth_plugin='mysql_native_password',
                        database='winequality')

cursor = conn.cursor()

import csv
with open('E:\\Neoron\\Programming_Practice\\Machine_Learning_Project\\wine_quality_prediction\\Data\\winequality.csv', 'r') as file:
    reader = csv.reader(file, delimiter = ',')
    next(reader) # Skip the header row
    for row in reader:
        cursor.execute('INSERT INTO winequality.nani VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)', row)
            
    conn.commit()

'\n# Insert data into the MySQL table\nfor _, row in df1.iterrows():\n    cursor.execute(\n        """\n        INSERT INTO winequality.data (\n            fixed_acidity,\n            volatile_acidity,\n            citric_acid,\n            residual_sugar,\n            chlorides,\n            free_sulfur_dioxide,\n            total_sulfur_dioxide,\n            density,\n            pH,\n            sulphates,\n            alcohol,\n            quality\n        )\n        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)\n        """,\n        (row[\'fixed_acidity\'], row[\'volatile_acidity\'], row[\'citric_acid\'], row[\'residual_sugar\'],\n         row[\'chlorides\'], row[\'free_sulfur_dioxide\'], row[\'total_sulfur_dioxide\'], row[\'density\'],\n         row[\'pH\'], row[\'sulphates\'], row[\'alcohol\'], row[\'quality\'])\n    )\n\n# Commit the changes and close the connection\nconn.commit()\nconn.close()\n'

In [4]:
import csv
import mysql.connector as line
import pandas as pd

# Read the CSV file to identify the columns and data types
csv_file = 'E:\\Neoron\\Programming_Practice\\Machine_Learning_Project\\wine_quality_prediction\\Data\\winequality.csv'  # Replace with the path to your CSV file
df = pd.read_csv(csv_file, nrows=5)  # Read a sample of rows to infer data types

# Extract column names and data types
columns = df.columns.tolist()
data_types = [df[col].dtype for col in df.columns]

# Create a SQL CREATE TABLE statement
table_name = 'test'  # Replace with your desired table name
create_table_sql = f"CREATE TABLE {table_name} ("

for col, dtype in zip(columns, data_types):
    if dtype == 'int64':
        column_definition = f"{col} INT"
    elif dtype == 'float64':
        column_definition = f"{col} FLOAT"
    else:
        max_length = df[col].str.len().max()
        column_definition = f"{col} VARCHAR({max_length})"
    
    create_table_sql += f"{column_definition}, "

# Remove the trailing comma and close the statement
create_table_sql = create_table_sql.rstrip(', ')
create_table_sql += ");"

# Create a connection to your MySQL database
conn = line.connect(port='3306',
                        host='127.0.0.1',
                        user ='root',
                        password ='4317',
                        auth_plugin='mysql_native_password',
                        database='winequality')

cursor = conn.cursor()

cursor.execute(create_table_sql)

print(f"Table '{table_name}' created successfully.")

Table 'test' created successfully.

In [3]:
[df1[col].dtype for col in df1.columns]

[dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64')]